  <section id="map-container">
    <div id="map"></div>
  </section>
  <section>
    <div class="filter-options">
      <h2 id="filter-results">Filter Results</h2>
      <select id="neighborhoods-select" name="neighborhoods" onchange="updateRestaurants()" aria-labelledby="filter-results">
        <option value="all">All Neighborhoods</option>
        <% data.forEach(item => { %>
          <option><%- item.neighborhood %></option>
        <% }) %>
      </select>
      <select id="cuisines-select" name="cuisines" onchange="updateRestaurants()" aria-labelledby="filter-results">
        <option value="all">All Cuisines</option>
        <%
          let sortedData = _.sortBy(data, item => {
            return item.cuisine_type
          });

          _.uniq(sortedData, item => item.cuisine_type, true).forEach(item => {
        %>
          <option><%- item.cuisine_type %></option>
        <% }) %>
      </select>
    </div>

    <ul id="restaurants-list">
      <% data.forEach(item => { %>
      <li>
        <img class="restaurant-img"
             srcset="img/<%- item.photograph %>_1x.jpg 324w,
                    img/<%- item.photograph %>_1x.jpg 600w"
             sizes="(max-width: 324px) 324px, (max-width: 600px) 600px"
             src="img/<%- item.photograph %>.jpg" alt="<%- item.name %> image">
        <div class="restaurant-info">
          <h1><%- item.name %></h1>
          <p><%- item.neighborhood %></p>
          <p><%- item.address %></p>
          <a href="restaurant/?id=<%- item.id %>">View Details</a>
        </div>
      </li>
      <% }) %>
    </ul>
  </section>
